Repository NHSDigital/eps-vpc-resources: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cdk, lint-cpt-ui, lint-githubactions

lint-cdk:
  name: Lint cdk
  entry: npm
  args:
  - run
  - --prefix=packages/cdk
  - lint
  language: system
  pass_filenames: false

lint-cpt-ui:
  name: Lint cpt-ui
  entry: npm
  args:
  - run
  - --prefix=packages/cpt-ui
  - lint
  language: system
  pass_filenames: false

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

update releases for dev
  _data/dev_deployments.csv
  _data/dev_latest.csv
Due: none

add lambda endpoint
  packages/cdk/stacks/VpcResourcesStack.ts
Due: lint-cdk

deploy to dev
  .github/workflows/pull_request.yml
Due: lint-githubactions

fix nag supression
  packages/cdk/nagSuppressions.ts
Due: lint-cdk

do not deploy from pr
  .github/workflows/pull_request.yml
Due: lint-githubactions

deploy change
  .github/workflows/pull_request.yml
Due: lint-githubactions

do not deploy
  .github/workflows/pull_request.yml
Due: lint-githubactions

Fix: [AEA-0000] - Add lambda endpoint (#277)
  packages/cdk/nagSuppressions.ts
  packages/cdk/stacks/VpcResourcesStack.ts
Due: lint-cdk

Notes added by 'git notes add'
  498f62bd2a56f9dce450ee4592ab28dbe10b45e9
Due: none

Path conditions:
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpt-ui: any of: ^packages\/cpt-ui and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
