Repository NHSDigital/eps-vpc-resources: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cdk, lint-cpt-ui, lint-githubactions

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-shebang-scripts-are-executable
        name: Check shell scripts are executable
        files: \.(sh)$

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(.github)

  - repo: https://github.com/pycqa/flake8
    rev: "7ef0350a439c93166bc8ba89fcc3de6a9a664e6c" # release 6.1.0
    hooks:
      - id: flake8

  - repo: local
    hooks:
      - id: lint-cdk
        name: Lint cdk
        entry: npm
        args: ["run", "--prefix=packages/cdk", "lint"]
        language: system
        files: ^packages\/cdk
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-cpt-ui
        name: Lint cpt-ui
        entry: npm
        args: ["run", "--prefix=packages/cpt-ui", "lint"]
        language: system
        files: ^packages\/cpt-ui
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-githubactions
        name: Lint github actions
        entry: make
        args: ["lint-githubactions"]
        language: system
        files: ^.github
        types_or: [yaml]
        pass_filenames: false

      - id: lint-githubaction-scripts
        name: Lint github action scripts
        entry: make
        args: ["lint-githubaction-scripts"]
        language: system
        files: ^.github/scripts
        types_or: [sh, shell]
        pass_filenames: false

fail_fast: true
default_stages: [pre-commit]

[AEA-0000] initial repo setup
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/pr_title_check.yml
  .vscode/eps-vpc-resources.code-workspace
Due: lint-githubactions

[AEA-0000] initial repo setup
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

[AEA-4684] add ci workflows
  .github/scripts/call_mark_jira_released.sh
  .github/scripts/create_env_release_notes.sh
  .github/scripts/create_int_rc_release_notes.sh
  .github/scripts/get_current_dev_tag.sh
  .github/scripts/get_target_deployed_tag.sh
  .github/workflows/cdk_package_code.yml
  .github/workflows/cdk_release_code.yml
  .github/workflows/ci.yml
  .github/workflows/create_release_notes.yml
  .github/workflows/delete_old_cloudformation_staks.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Due: lint-githubactions

[AEA-4684] update cdk jet to pass for no tests
  packages/cdk/package.json
Due: lint-cdk

[AEA-4684] update makefile
  Makefile
Due: none

[AEA-4684] resolving cfn-guard issues
  .github/workflows/cdk_release_code.yml
  Makefile
  cdk.json
  packages/cdk/bin/VpcResourcesApp.ts
  packages/cdk/bin/utils/appUtils.ts
  packages/cdk/stacks/VpcResourcesStack.ts
Due: lint-cdk, lint-githubactions

[AEA-4684] add sonar props
  sonar-project.properties
Due: none

[AEA-4684] fix metadata for custom resources
  packages/cdk/bin/VpcResourcesApp.ts
Due: lint-cdk

[AEA-4684] try to force usxe of all 3 az's
  packages/cdk/stacks/VpcResourcesStack.ts
Due: lint-cdk

[AEA-4684] explicitly state az's
  packages/cdk/bin/VpcResourcesApp.ts
  packages/cdk/stacks/VpcResourcesStack.ts
Due: lint-cdk

[AEA-4684] update workflows
  .github/workflows/cdk_release_code.yml
  .github/workflows/pull_request.yml
Due: lint-githubactions

New: [AEA-4684] - VPC resources (#9)
  .devcontainer/devcontainer.json
  .github/scripts/call_mark_jira_released.sh
  .github/scripts/create_env_release_notes.sh
  .github/scripts/create_int_rc_release_notes.sh
  .github/scripts/get_current_dev_tag.sh
  .github/scripts/get_target_deployed_tag.sh
  .github/workflows/cdk_package_code.yml
  .github/workflows/cdk_release_code.yml
  .github/workflows/ci.yml
  .github/workflows/create_release_notes.yml
  .github/workflows/delete_old_cloudformation_staks.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  Makefile
  cdk.json
  package-lock.json
  packages/cdk/.gitignore
  packages/cdk/bin/VpcResourcesApp.ts
  packages/cdk/bin/utils/appUtils.ts
  packages/cdk/jest.config.ts
  packages/cdk/package.json
  packages/cdk/stacks/VpcResourcesStack.ts
  packages/cdk/tsconfig.json
  sonar-project.properties
Due: lint-cdk, lint-githubactions

fix folder name
  releaseNotesTemplates/commit.hbs
Due: none

Fix: [AEA-0000] - fix folder name for release template (#16)
  releaseNotesTemplates/commit.hbs
Due: none

update releases for dev
  _data/dev_latest.csv
Due: none

add vpc endpoints
  .github/workflows/cdk_release_code.yml
  .github/workflows/pull_request.yml
  packages/cdk/stacks/VpcResourcesStack.ts
Due: lint-cdk, lint-githubactions

update releases for dev
  _data/dev_deployments.csv
  _data/dev_latest.csv
Due: none

different if
  .github/workflows/cdk_release_code.yml
Due: lint-githubactions

another if
  .github/workflows/cdk_release_code.yml
Due: lint-githubactions

do not deploy code on pr
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Due: lint-githubactions

add interface endpoint differently
  .github/workflows/pull_request.yml
  packages/cdk/stacks/VpcResourcesStack.ts
Due: lint-cdk, lint-githubactions

fix endpoint
  packages/cdk/stacks/VpcResourcesStack.ts
Due: lint-cdk

add s3 endpoint
  packages/cdk/stacks/VpcResourcesStack.ts
Due: lint-cdk

add tags to endpoint
  packages/cdk/stacks/VpcResourcesStack.ts
Due: lint-cdk

add nag supression
  packages/cdk/nagSuppressions.ts
  packages/cdk/stacks/VpcResourcesStack.ts
Due: lint-cdk

add cfn guard
  packages/cdk/bin/VpcResourcesApp.ts
Due: lint-cdk

add back in stuff
  packages/cdk/nagSuppressions.ts
  packages/cdk/stacks/VpcResourcesStack.ts
Due: lint-cdk

do not deploy changes on pull request
  .github/workflows/pull_request.yml
Due: lint-githubactions
