Repository NHSDigital/eps-vpc-resources: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cdk, lint-cpt-ui, lint-githubactions

lint-cdk:
  name: Lint cdk
  entry: npm
  args:
  - run
  - --prefix=packages/cdk
  - lint
  language: system
  pass_filenames: false

lint-cpt-ui:
  name: Lint cpt-ui
  entry: npm
  args:
  - run
  - --prefix=packages/cpt-ui
  - lint
  language: system
  pass_filenames: false

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

update releases for dev
  _data/dev_deployments.csv
  _data/dev_latest.csv
Due: none

update releases for prod
  _data/prod_deployments.csv
  _data/prod_latest.csv
Due: none

Notes added by 'git notes add'
  d916761e1c5363d01752abc4e6d363abff3b8994
Due: none

update releases for ref
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

update releases for qa
  _data/qa_deployments.csv
  _data/qa_latest.csv
Due: none

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

upgrade node
  .tool-versions
  package-lock.json
Due: none

upgrade jest config
  packages/cdk/jest.config.ts
Due: lint-cdk

Fix: [AEA-0000] - upgrade node (#605)
  .tool-versions
  package-lock.json
  packages/cdk/jest.config.ts
Due: lint-cdk

Notes added by 'git notes add'
  66eedf199b634f81180c5720256b64ae1b94c017
Due: none

forward csoc logs
  .github/scripts/fix_cdk_json.sh
  .github/workflows/cdk_release_code.yml
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  packages/cdk/stacks/VpcResourcesStack.ts
Due: lint-cdk, lint-githubactions

correct var
  packages/cdk/stacks/VpcResourcesStack.ts
Due: lint-cdk

coerce type
  packages/cdk/stacks/VpcResourcesStack.ts
Due: lint-cdk

debug cdk.json
  .github/scripts/fix_cdk_json.sh
Due: none

Path conditions:
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpt-ui: any of: ^packages\/cpt-ui and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
