Repository NHSDigital/eps-vpc-resources: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cdk, lint-cpt-ui, lint-githubactions

lint-cdk:
  name: Lint cdk
  entry: npm
  args:
  - run
  - --prefix=packages/cdk
  - lint
  language: system
  pass_filenames: false

lint-cpt-ui:
  name: Lint cpt-ui
  entry: npm
  args:
  - run
  - --prefix=packages/cpt-ui
  - lint
  language: system
  pass_filenames: false

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

update releases for dev
  _data/dev_deployments.csv
  _data/dev_latest.csv
Due: none

update releases for ref
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

update releases for qa
  _data/qa_deployments.csv
  _data/qa_latest.csv
Due: none

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

add trivyignore
  .trivyignore.yaml
  trivy.yaml
Due: none

Fix: [AEA-0000] - add trivyignore (#885)
  .trivyignore.yaml
  trivy.yaml
Due: none

move to common dev container
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/cdk_package_code.yml
  .github/workflows/cdk_release_code.yml
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  .tool-versions
  .tool-versions.asdf
  Makefile
  poetry.lock
  pyproject.toml
  scripts/check_python_licenses.sh
  scripts/run_cfn_guard.sh
Due: lint-githubactions

fix json
  .devcontainer/devcontainer.json
Due: none

fix it
  .github/scripts/fix_cdk_json.sh
  Makefile
  packages/cdk/bin/VpcResourcesApp.ts
Due: lint-cdk

move to new style app
  .github/scripts/describe_cdk_changes.sh
  .github/workflows/cdk_package_code.yml
  .github/workflows/cdk_release_code.yml
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .gitignore
  Makefile
  package-lock.json
  packages/cdk/allowedChanges.json
  packages/cdk/bin/VpcResourcesApp.ts
  packages/cdk/cdk.context.json
  packages/cdk/cdk.json
  packages/cdk/nagSuppressions.ts
  packages/cdk/package.json
  packages/cdk/scripts/manageDestructiveChanges.ts
  packages/cdk/stacks/VpcResourcesStack.ts
Due: lint-cdk, lint-githubactions

fix cfn-guard
  .gitignore
  packages/cdk/bin/VpcResourcesApp.ts
Due: lint-cdk

setup .npmrc
  .github/workflows/cdk_package_code.yml
Due: lint-githubactions

fix issue
  .github/workflows/cdk_release_code.yml
Due: lint-githubactions

fix package
  .github/workflows/cdk_package_code.yml
Due: lint-githubactions

fix name
  .github/workflows/cdk_package_code.yml
Due: lint-githubactions

add header_output.sh
  .github/scripts/header_output.sh
Due: none

fix get changeset
  .github/workflows/cdk_release_code.yml
  packages/cdk/bin/VpcResourcesApp.ts
Due: lint-cdk, lint-githubactions

fix get changeset
  .github/workflows/cdk_release_code.yml
Due: lint-githubactions

add registry
  .github/dependabot.yml
Due: lint-githubactions

fix diff
  .github/workflows/cdk_release_code.yml
Due: lint-githubactions

fix pipeline
  .github/workflows/cdk_release_code.yml
Due: lint-githubactions

add allowed changes
  packages/cdk/allowedChanges.json
Due: lint-cdk

better deployments
  .github/workflows/cdk_release_code.yml
Due: lint-githubactions

fix nag warnings
  packages/cdk/nagSuppressions.ts
Due: lint-cdk

update cdk-constructs
  package-lock.json
  package.json
  packages/cdk/allowedChanges.json
Due: lint-cdk

Fix: [AEA-6235] - move to common cdk app creation and common dev container (#892)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/dependabot.yml
  .github/scripts/describe_cdk_changes.sh
  .github/scripts/fix_cdk_json.sh
  .github/scripts/header_output.sh
  .github/workflows/cdk_package_code.yml
  .github/workflows/cdk_release_code.yml
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .gitignore
  .pre-commit-config.yaml
  .tool-versions
  .tool-versions.asdf
  Makefile
  package-lock.json
  package.json
  packages/cdk/allowedChanges.json
  packages/cdk/bin/VpcResourcesApp.ts
  packages/cdk/cdk.context.json
  packages/cdk/cdk.json
  packages/cdk/nagSuppressions.ts
  packages/cdk/package.json
  packages/cdk/scripts/manageDestructiveChanges.ts
  packages/cdk/stacks/VpcResourcesStack.ts
  poetry.lock
  pyproject.toml
  scripts/check_python_licenses.sh
  scripts/run_cfn_guard.sh
Due: lint-cdk, lint-githubactions

update releases for dev and stack vpc-resources
  _data/dev_vpc-resources_eu-west-2_deployments.csv
  _data/dev_vpc-resources_eu-west-2_latest.csv
Due: none

remove allowed changes
  packages/cdk/allowedChanges.json
Due: lint-cdk

new allowed changes
  packages/cdk/allowedChanges.json
Due: lint-cdk

try new changes
  package-lock.json
  packages/cdk/package.json
Due: lint-cdk

try against qa
  .github/workflows/pull_request.yml
Due: lint-githubactions

switch back to dev
  .github/workflows/pull_request.yml
Due: lint-githubactions

Chore: [AEA-0000] - use new checkDestructiveChangeSet (#896)
  package-lock.json
  packages/cdk/allowedChanges.json
  packages/cdk/package.json
Due: lint-cdk

upgrade eslint
  package-lock.json
  package.json
  packages/cdk/scripts/manageDestructiveChanges.ts
Due: lint-cdk

update releases for qa and stack vpc-resources
  _data/qa_vpc-resources_eu-west-2_deployments.csv
  _data/qa_vpc-resources_eu-west-2_latest.csv
Due: none

Path conditions:
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpt-ui: any of: ^packages\/cpt-ui and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
