Repository NHSDigital/eps-vpc-resources: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cdk, lint-cpt-ui, lint-githubactions

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-shebang-scripts-are-executable
        name: Check shell scripts are executable
        files: \.(sh)$

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(.github)

  - repo: https://github.com/pycqa/flake8
    rev: "7ef0350a439c93166bc8ba89fcc3de6a9a664e6c" # release 6.1.0
    hooks:
      - id: flake8

  - repo: local
    hooks:
      - id: lint-cdk
        name: Lint cdk
        entry: npm
        args: ["run", "--prefix=packages/cdk", "lint"]
        language: system
        files: ^packages\/cdk
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-cpt-ui
        name: Lint cpt-ui
        entry: npm
        args: ["run", "--prefix=packages/cpt-ui", "lint"]
        language: system
        files: ^packages\/cpt-ui
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-githubactions
        name: Lint github actions
        entry: make
        args: ["lint-githubactions"]
        language: system
        files: ^.github
        types_or: [yaml]
        pass_filenames: false

      - id: lint-githubaction-scripts
        name: Lint github action scripts
        entry: make
        args: ["lint-githubaction-scripts"]
        language: system
        files: ^.github/scripts
        types_or: [sh, shell]
        pass_filenames: false

fail_fast: true
default_stages: [pre-commit]

prevent duplication
  packages/cdk/stacks/VpcResourcesStack.ts
Due: lint-cdk

update releases for dev
  _data/dev_deployments.csv
  _data/dev_latest.csv
Due: none

supress duplication on packages/cdk/nagSuppressions.ts
  sonar-project.properties
Due: none

fix export
  packages/cdk/stacks/VpcResourcesStack.ts
Due: lint-cdk

fix export
  .github/workflows/pull_request.yml
Due: lint-githubactions

do not deploy on pr
  .github/workflows/pull_request.yml
Due: lint-githubactions

Fix: [AEA-0000] - add vpc endpoints (#17)
  .github/workflows/cdk_release_code.yml
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  packages/cdk/bin/VpcResourcesApp.ts
  packages/cdk/nagSuppressions.ts
  packages/cdk/stacks/VpcResourcesStack.ts
  sonar-project.properties
Due: lint-cdk, lint-githubactions

[AEA-0000] add missing actions
  .github/actions/mark_jira_released/action.yml
  .github/actions/update_confluence_jira/action.yml
Due: lint-githubactions

Fix: [AEA-0000] - Add missing actions for release notes (#21)
  .github/actions/mark_jira_released/action.yml
  .github/actions/update_confluence_jira/action.yml
Due: lint-githubactions

Notes added by 'git notes add'
  5ebf1824bc096a28bbcde500d511b95cb1666ee4
Due: none

update releases for qa
  _data/qa_latest.csv
Due: none

update releases for ref
  _data/ref_latest.csv
Due: none

update releases for int
  _data/int_latest.csv
Due: none
