Repository NHSDigital/eps-vpc-resources: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cdk, lint-cpt-ui, lint-githubactions

lint-cdk:
  name: Lint cdk
  entry: npm
  args:
  - run
  - --prefix=packages/cdk
  - lint
  language: system
  pass_filenames: false

lint-cpt-ui:
  name: Lint cpt-ui
  entry: npm
  args:
  - run
  - --prefix=packages/cpt-ui
  - lint
  language: system
  pass_filenames: false

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

update releases for dev
  _data/dev_deployments.csv
  _data/dev_latest.csv
Due: none

New: [AEA-5426] - Add API Gateway as VPC Endpoint
  packages/cdk/stacks/VpcResourcesStack.ts
Due: lint-cdk

Allow for private interface endpoint
  packages/cdk/stacks/VpcResourcesStack.ts
Due: lint-cdk

Add export for VPC Endpoint ID
  packages/cdk/stacks/VpcResourcesStack.ts
Due: lint-cdk

Remove potentially unnecessary export
  packages/cdk/stacks/VpcResourcesStack.ts
Due: lint-cdk

Deploy change temporarily
  .github/workflows/pull_request.yml
Due: lint-githubactions

Suppress permissions issue
  packages/cdk/nagSuppressions.ts
Due: lint-cdk

Add required nag suppressions
  packages/cdk/nagSuppressions.ts
Due: lint-cdk

Revert deploy change
  .github/workflows/pull_request.yml
Due: lint-githubactions

Dev container, support mac users
  .devcontainer/Dockerfile
Due: none

Revert "Dev container, support mac users"
  .devcontainer/Dockerfile
Due: none

Chore: [AEA-0000] - Adjust devcontainer to support ARM chips
  .devcontainer/Dockerfile
Due: none

Notes added by 'git notes add'
  ff475857e1d396f69cba07cc3fa6e2b99d99863a
Due: none

update releases for qa
  _data/qa_deployments.csv
  _data/qa_latest.csv
Due: none

update releases for ref
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

Path conditions:
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpt-ui: any of: ^packages\/cpt-ui and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
