Repository NHSDigital/eps-vpc-resources: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cdk, lint-cpt-ui, lint-githubactions

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-shebang-scripts-are-executable
        name: Check shell scripts are executable
        files: \.(sh)$

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(.github)

  - repo: https://github.com/pycqa/flake8
    rev: "7ef0350a439c93166bc8ba89fcc3de6a9a664e6c" # release 6.1.0
    hooks:
      - id: flake8

  - repo: local
    hooks:
      - id: lint-cdk
        name: Lint cdk
        entry: npm
        args: ["run", "--prefix=packages/cdk", "lint"]
        language: system
        files: ^packages\/cdk
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-cpt-ui
        name: Lint cpt-ui
        entry: npm
        args: ["run", "--prefix=packages/cpt-ui", "lint"]
        language: system
        files: ^packages\/cpt-ui
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-githubactions
        name: Lint github actions
        entry: make
        args: ["lint-githubactions"]
        language: system
        files: ^.github
        types_or: [yaml]
        pass_filenames: false

      - id: lint-githubaction-scripts
        name: Lint github action scripts
        entry: make
        args: ["lint-githubaction-scripts"]
        language: system
        files: ^.github/scripts
        types_or: [sh, shell]
        pass_filenames: false

fail_fast: true
default_stages: [pre-commit]

try it without condition
  packages/cdk/stacks/VpcResourcesStack.ts
Due: lint-cdk

it is doing things correctly
  .github/scripts/fix_cdk_json.sh
  packages/cdk/stacks/VpcResourcesStack.ts
Due: lint-cdk

update releases for dev
  _data/dev_deployments.csv
  _data/dev_latest.csv
Due: none

forward vpc logs
  .github/workflows/pull_request.yml
Due: lint-githubactions

do not forward csoc logs in pull request
  .github/workflows/pull_request.yml
Due: lint-githubactions

update releases for prod
  _data/prod_deployments.csv
  _data/prod_latest.csv
Due: none

move to common tagging
  .devcontainer/Dockerfile
  .github/config/settings.yml
  .github/workflows/cdk_package_code.yml
  .github/workflows/ci.yml
  .github/workflows/pr_title_check.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .tool-versions.asdf
  package-lock.json
  package.json
  release.config.js
  releaseNotesTemplates/commit.hbs
Due: lint-githubactions

Fix: [AEA-0000] - move to common tagging (#616)
  .devcontainer/Dockerfile
  .github/config/settings.yml
  .github/workflows/cdk_package_code.yml
  .github/workflows/ci.yml
  .github/workflows/pr_title_check.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .tool-versions.asdf
  package-lock.json
  package.json
  release.config.js
  releaseNotesTemplates/commit.hbs
Due: lint-githubactions

Fix: [AEA-5895] - forward vpc logs to CSOC (#606)
  .github/scripts/fix_cdk_json.sh
  .github/workflows/cdk_release_code.yml
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  packages/cdk/stacks/VpcResourcesStack.ts
Due: lint-cdk, lint-githubactions

Notes added by 'git notes add'
  2259160a0c84fa1ca290ee2e6aa49ccb0058ae7b
Due: none

update releases for ref
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

update releases for qa
  _data/qa_deployments.csv
  _data/qa_latest.csv
Due: none

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

set input
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Due: lint-githubactions

Notes added by 'git notes add'
  9512c8440d694f0eecbbe7eb8fffe6147272bfe1
Due: none
